<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/otopark</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    
    <mapping class="com.vektorel.oot.entity.Il"></mapping>
    <mapping class="com.vektorel.oot.entity.Ilce"></mapping>
    <mapping class="com.vektorel.oot.entity.Kisi"></mapping>
    <mapping class="com.vektorel.oot.entity.EBase"></mapping>
    <mapping class="com.vektorel.oot.entity.Arac"></mapping>
    <mapping class="com.vektorel.oot.entity.AracGiris"></mapping>
    <mapping class="com.vektorel.oot.entity.MarkaModel"></mapping>
    <mapping class="com.vektorel.oot.entity.Odeme"></mapping>
    <mapping class="com.vektorel.oot.entity.OdemeYonTip"></mapping>
    <mapping class="com.vektorel.oot.entity.Otopark"></mapping>
    <mapping class="com.vektorel.oot.entity.OtoparkBolum"></mapping>
    <mapping class="com.vektorel.oot.entity.OtoparkUyelik"></mapping>
    <mapping class="com.vektorel.oot.entity.Personel"></mapping>
    <mapping class="com.vektorel.oot.entity.Renk"></mapping>
    <mapping class="com.vektorel.oot.entity.Kullanici"></mapping>
  </session-factory>
</hibernate-configuration>
